:root {
    --color-de-fondo: #02001F;
    --color-de-fondo2: #EAF2FD;
    --color-de-fondo3: #486996;
    --color-de-link: #FFF;
    --color-de-detalles: #FCC026;
    --color-de-titulos: #465656;
}

 body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo2);
    margin: 0;
    padding: 0;
    line-height: 1;
    gap:32px;
}

ol,ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/*MENU*/

.navbar {
    display: flex;
    height: 95px;
    justify-content: space-evenly;
    padding: 10px 25px; 
    background-color: var(--color-de-fondo);
}

.logo__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--color-de-link);
    background-color: none;
}

.logo__name img {
    height: 55px;
}

.logo__name h2 {
    font-size: 1.7rem;
    font-family: sans-serif;
    font-weight: 300;
}

.section__menu {
    display: flex;
}

.menu__list {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 25px
}

.menu__list__item {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}

.menu__list__item2 {
    display: none;
}

/*Bio*/

.bio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 55px; 
    background-color: var(--color-de-fondo2);
    gap: 25px; 
}

.bio__img {
    width: 350px;
    border-radius: 50%;
    order: 4;
}

.bio__info {
    text-align: justify;
    font-family: sans-serif;
}

.bio__info h2 {
    font-size: 40px;
    font-weight: 600;
}

.bio__info h3 {
    font-size: 20px;
    font-weight: 100;
}

/*About me*/

.sobre__mi {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 55px; 
    background-color: var(--color-de-fondo2);
    gap: 25px; 
}

.sobre__mi h2 {
    font-family: sans-serif;
    font-size: 35px;
}

.sobre__mi p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: justify;
}

/* Skills */

.skills {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 55px; 
    background-color: var(--color-de-fondo2);
    gap: 25px; 
}

.skills h2 {
    font-family: sans-serif;
    font-size: 35px;
}

.skills .skill__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 45px;
    align-items: center;
}


.skill__box img {
    height: 60px;
    align-self: flex-start;
}

.skill__box h4 {
    font-family: sans-serif;
    font-weight: 700; 
    font-size: 20px;
}

.skill__box h6 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}

/*formation*/

.formation {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 55px; 
    gap: 25px; 
}

.formation h2 {
    font-family: sans-serif;
    font-size: 35px;
}

.formation__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.formation__boxes {  
    height: 235px;
    width: 235px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Agregado */
    align-items: center;
    text-align: center; /* Asegura que el texto esté alineado */
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    border-radius: 15%;
    padding: 20px;
}


.formation__boxes img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.formation__boxes h3, .formation__boxes p {
    margin: 15px 0; /* Espaciado uniforme */
}


.formation__boxes h3 {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2.5px;
}

.formation__boxes p {
    font-family: sans-serif;
    font-weight: 300;
}





/*Tablet*/
/* @media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/



/*Mobile*/
/*@media (min-width: 425px) {


}*/